@font-face {
    font-family: 'robotoblack';
    src: url('../fonts/roboto-black-webfont.woff2') format('woff2'),
    url('../fonts/roboto-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* || GENERAL STYLES */
html {
    background-color: lightseagreen;
    color: lightseagreen;
    font-family: 'Ranchers', 'robotoblack', cursive;
    font-size: 1em;
    letter-spacing: 1px;
}

body {
    background-color: bisque;
    border: 5px solid chocolate;
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;
}

caption {
    padding: 10px;
}

header {
    background-image: url("../img/robot-1720px.png");
    background-size: 1200px 400px;
    background-repeat: no-repeat;
    height: 400px;
    margin: auto;
}

footer {
    background-color: darkgray;
    /*border: 2px solid black;*/
}

#footer-address {
    margin: auto;
    padding: 10px;
}

h1 {
    font-size: 2em;
    margin: 0;
    padding: 20px 0;
    text-align: center;
    text-shadow: 3px 3px 1px black;
}

h2, h3, h4 {
    font-family: 'robotoblack';
    margin: 0.5em 0;
}

h2 {
    color: crimson;
    font-size: 2em;
}

h3, h4 {
    color: chocolate;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.3em;
}

img {
    /* img je in-line element a abysme na takovy el. mohli aplikovat triky platne pro block elementy, musime pridat
    propertu display: block */
    /*display: block;*/
    /*margin: 0 auto;*/
}

main {
    padding: 0;
}

p, li {
    line-height: 2;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    box-sizing: border-box;
    color: inherit;
    padding: 0;
    margin: 0;
}

textarea {
    overflow: auto;
}

button {
    border-radius: 10px;
    border: none;
    background-image: linear-gradient(to bottom right, chocolate, cornsilk);
    box-shadow:
            2px 2px 1px black,
            inset 2px 3px 5px rgba(0,0,0,0.3),
            inset -2px -3px 5px rgba(255,255,255,0.5);
    line-height: 2;
    width: 150px;
}

a {
    border-bottom: 2px solid;
    outline: none;
    padding: 2px 1px 0;
    text-decoration: none;
}

/* nastaveni ikony k externimu odkazu */
a[href*="http"] {
    background: url(../img/external-link-512.png) no-repeat 100% 0; /* specify the position as 100% of the way
    over to the right of the text content, and 0 pixels from the top */
    background-size: 20px 20px;
    padding-right: 21px;
}

a:link {
    color: chocolate;
}

a:visited {
    color: lightcoral;
}

a:focus {
    background: lightseagreen;
}

a:hover {
    color: crimson;
    border-bottom: none;
}

a:active {
    background: crimson;
    color: lightseagreen;
}

h2 a:visited {
    color: crimson;
}

h2 a:hover {
    color: chocolate;
    border-bottom: none;
}

.content {
    padding: 0 0 20px 20px;

}

.sidebar {
    background-color: aquamarine;
    padding: 10px;
}

/* || NAVIGATION BAR */
ul.nav-menu {
    list-style: none;
    padding-inline-start: 0;
}

.nav-menu li {
    background-color: lightseagreen;
    border: 2px solid chocolate;

    /*display: inline-block;*/
    line-height: 1;
    padding: 12px;
    text-align: center;
}
.nav-menu a {
    border-bottom: none;
}

.nav-menu a:hover {
    background-color: bisque;
    color: crimson;
}


/* || MEDIA QUERIES */

@media screen and (min-width: 40em) {
    h1 {
        font-size: 4rem;
    }

    article {
        display: grid;
        grid-template-columns: 3fr 1fr;
        column-gap: 20px;
    }

    nav ul {
        display: flex;
    }

    nav li {
        flex: 1;
    }
}






























