/* || CSS LAYOUTS
- Normal flow
- The "display" property
    - standard values such as block, inline or inline-block can change how elements behave in normal flow;
- Flexbox
- Grid
- Floats
    - applying a float value such as left can cause block level elements to wrap alongside one side of an element;
- Positioning
    - the position property allows you to precisely control the placement of boxes inside other boxes;
- Table layout
    - features designed for styling the parts of an HTML table can be used on non-table elements using display: table
- Multiple-column layout
    - can cause the content of a block to layout in columns, as you might see in a newspaper.

- ukazky a detaily jednotlivych funkcionalit ukazany nize v kodu
*/

/* nacteni pisma ze souboru v pc/na serveru */
@font-face {
    font-family: 'robotoblack';
    src: url('../fonts/roboto-black-webfont.woff2') format('woff2'),
    url('../fonts/roboto-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* || GENERAL STYLES */
html {
    background-color: lightseagreen;
    color: lightseagreen;
    font-family: 'Ranchers', 'robotoblack', cursive;
    font-size: 16px;
    letter-spacing: 1px;
}

hr {
    border-style: solid;
    border-width: 5px;
}

body {
    background-color: bisque;
    border: 5px solid chocolate;
    margin: 0 auto;
    max-width: 900px;
    /*padding: 0 20px 20px 20px;*/
    width: 90%;
}

caption {
    padding: 10px;
}

header {
    background-image: url("../img/robot-1720px.png");
    background-size: 900px 300px;
    background-repeat: no-repeat;
    /*border: 2px solid black;*/
    height: 300px;
    margin: auto;
}

footer {
    background-color: darkgray;
    /*border: 2px solid black;*/
}

#footer-address {
    margin: auto;
    padding: 10px;
}

h1 {
    font-size: 4em;
    margin: 0;
    padding: 20px 0;
    text-align: center;
    text-shadow: 3px 3px 1px black;
}

h2, h3, h4 {
    font-family: 'robotoblack';
    margin: 0.5em 0;
}

h2 {
    color: crimson;
    font-size: 2em;
}

h3, h4 {
    color: chocolate;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.3em;
}

img {
    /* img je in-line element a abysme na takovy el. mohli aplikovat triky platne pro block elementy, musime pridat
    propertu display: block */
    /*display: block;*/
    /*margin: 0 auto;*/
}

main {
    padding: 0 20px 20px 20px;
}

p, li {
    line-height: 2;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    box-sizing: border-box;
    color: inherit;
    padding: 0;
    margin: 0;
}

textarea {
    overflow: auto;
}

button {
    border-radius: 10px;
    border: none;
    background-image: linear-gradient(to bottom right, chocolate, cornsilk);
    box-shadow:
            2px 2px 1px black,
            inset 2px 3px 5px rgba(0,0,0,0.3),
            inset -2px -3px 5px rgba(255,255,255,0.5);
    line-height: 2;
    width: 150px;
}

a {
    border-bottom: 2px solid;
    outline: none;
    padding: 2px 1px 0;
    text-decoration: none;
}

/* nastaveni ikony k externimu odkazu */
a[href*="http"] {
    background: url(../img/external-link-512.png) no-repeat 100% 0; /* specify the position as 100% of the way
    over to the right of the text content, and 0 pixels from the top */
    background-size: 20px 20px;
    padding-right: 21px;
}

a:link {
    color: chocolate;
}

a:visited {
    color: lightcoral;
}

a:focus {
    background: lightseagreen;
}

a:hover {
    color: crimson;
    border-bottom: none;
}

a:active {
    background: crimson;
    color: lightseagreen;
}

h2 a:visited {
    color: crimson;
}

h2 a:hover {
    color: chocolate;
    border-bottom: none;
}


/*
|| FLEXBOX
https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Flexbox
=  Flexible Box Layout
- to lay things out in one dimension — either as a row or as a column;
- items flex to fill additional space and shrink to fit into smaller spaces;
- to use flexbox, you apply "display: flex" to the parent element of the elements you want to lay out,
    all its direct children then become flex items;
*/

/* child elements arrange themselves into columns - it is due to them becoming "flex items" and being affected
    by some initial values that flexbox sets on the flex container;
    - they are displayed in a row, because the initial value of "flex-direction" set on their parent is "row";
    - they all appear to stretch to the height of the tallest item, because the initial value of the "align-items"
        property set on their parent is "stretch" - this means that the items stretch to the height
        of the flex container, which in this case is defined by the tallest item;
    - the items all line up at the start of the container, leaving any extra space at the end of the row.
*/

/* PAGE CSS LAYOUTS */
.wrapper-flex {
    display: flex;
}

.wrapper-flex > div {
    background-color: lightseagreen;
    border: 3px solid crimson;
    border-radius: 5px;
    color: bisque;
    padding: 1em;
/*there are properties that can be applied to the flex items, they can change the way that the items flex,
    enabling them to expand and contract to fit into the available space, e.g. "flex" property -
    it will cause all of the items to grow and fill the container, rather than leaving space at the end;
*/
    flex: 1;
}

/* "flex" property: shorthand stays for the following longhand:
flex-grow =  unitless proportion value that dictates how much of the available space along the main axis each flex item
    will take up compared to other flex items; the same value means they will all take up an equal amount of the spare space;
flex-shrink = second unitless proportion value that comes into play when the flex items are overflowing their container as
    it specifies how much of the overflowing amount is taken away from each flex item's size, to stop them
    overflowing their container;
flex-basis = each flex item will first be given minimum size value we declare (e.g. 200px) of the available space;
- we should use shorthand in basic code and longhand in case we need to override some previous rule which don't want to adjust;
*/

/* PAGE FLEXBOX */
/*
// The flex model
- viz obrazek "flex-model;
- "main axis" is the axis running in the direction the flex items are being laid out in
    (e.g. as rows across the page, or columns down the page);
    - the start and end of this axis are called the "main start" and "main end";
- "cross axis" is the axis running perpendicular to the direction the flex items are being laid out in
    - the start and end of this axis are called the "cross start "and "cross end";
- parent element that has "display: flex" set on it (the <section> in our example) is called the "flex container";
- items being laid out as flexible boxes inside the flex container are called "flex items" (the <article> elements in our example);
*/


/* we need to select which elements are to be laid out as flexible boxes- to do this, we set a special value
    of "display" on the parent element of the elements we want to affect (articles) */
section {
    display: flex; /* = parent element is acting like a block-level element in terms of how it interacts
    with the rest of the page, but its children are being laid out as flex items */
    /* "display" value of "inline-flex" to lay out an element's children as flex items,
        but have that element behave like an inline element */

    /* "flex-direction" property specifies what direction the main axis runs in (what direction the flexbox children
         are laid out in) — by default this is set to row */
    /*flex-direction: column;*/
    /*flex-direction: row-reverse; !*lay out flex items in a reverse direction*!*/

    /* when you have a fixed amount of width or height in your layout your flexbox children can overflow their container,
        breaking the layout; solution can be "flex-wrap" */
    /*flex-wrap: wrap; !* also a declaration "flex: 200px;" by child elements must be added *!*/

    /* shorthand for flex-direction and flex-wrap */
    flex-flow: row wrap;
}

.article-flex {
    background: lightpink;
    flex: 200px; /* each will be at least 200px wide */
    margin: 10px;
    padding: 10px;
}

/* // Flexible sizing of flex items */
.article-flex-sizing {
    background: lightpink;
    flex: 1;
    margin: 10px;
    padding: 10px;
}
/* third <article> takes up twice as much of the available width as the other two: */
.article-flex-sizing:nth-of-type(3) {
    flex: 2; /* here are now four proportion units available in total (since 1 + 1 + 2 = 4).
        The first two flex items have one unit each, so they take 1/4 of the available space each.
        The third one has two units, so it takes up 2/4 of the available space (or one-half). */
}

/* // Horizontal and vertical alignment */

/* flex container:*/
.hv-alignment {
    border: 5px solid chocolate;
    height: 100px;

     /* property potrebne pro zarovnani: */
    align-items: center; /* controls where the flex items sit on the cross axis;
        default is "stretch" which stretches all flex items to fill the parent in the direction of the cross axis;
        if the parent doesn't have a fixed width in the cross axis direction, then all flex items will become as long
        as the longest flex item - see 1st simple example; */
    display: flex;
    justify-content: space-around; /* controls where the flex items sit on the main axis;
        default is "flex-start", which makes all the items sit at the start of the main axis
    */
}

/* flex item */
.hv-alignment button {
    width: 15%;
}

/* can override the "align-items" behavior for individual flex items by applying the "align-self" property: */
/*.align-self {*/
/*    align-self: flex-end;*/
/*}*/

/* // Ordering flex items
- changing the layout order of flex items, without affecting the source order;
- by default, all flex items have an order value of 0;
- flex items with higher order values set on them will appear later in the display order than items with lower order values;
- flex items with the same order value will appear in their source order;
*/

.hv-alignment button:first-child {
    order: 1;
}
.hv-alignment button:last-child {
    order: -1;
}

/* // Nested flex boxes
-  we can set a flex item to also be a flex container, so that its children are also laid out like flexible boxes;
*/
.nested-flex article {
    background: lightpink;
    flex: 1 200px;
    margin: 10px;
    padding: 10px;
}

/* we are setting the third <article> to have its children laid out like flex items too, but this time we are laying
    them out like a column */
.nested-flex article:nth-of-type(3) {
    flex: 3 200px;
    flex-flow: column;
    display: flex;
}

.nested-flex article:nth-of-type(3) div:first-child {
    align-items: center;
    display: flex;
    flex: 1 100px;
    flex-flow: row wrap;
    justify-content: space-around;
}

.button-nested-box button {
    flex: 1 auto; /* buttons will take up as much space as they can, and sit as many on the same line as they can,
        but when they can no longer fit comfortably on the same line, they'll drop down to create new lines */
    margin: 5px;
}
/* ************************************** */


/*
|| GRID
https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Grids
- is designed for two dimensions — lining things up in rows and columns;
- in addition to using "display: grid", we are also defining some row and column tracks on the parent using
the "grid-template-rows" and "grid-template-columns" properties respectively.
*/

/* PAGE CSS LAYOUTS */
.wrapper-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;
    grid-gap: 10px; /* zajisti prostor mezi jednotlivymi elementy - boxy; shorthand of row-gap and column-gap */
}
/* don’t need to put any add. rules on the child elements; they are automatically placed into the cells our grid has created */
.wrapper-grid > div {
    background-color: lightseagreen;
    border: 3px solid crimson;
    border-radius: 5px;
    color: bisque;
    padding: 1em;
}

/* in the example below we have defined the same grid, but this time with three child items - we've set the start and end line
of each item using the grid-column and grid-row properties; this causes the items to span multiple tracks*/
.box1 {
    grid-column: 2 / 4;
    grid-row: 1;
}

.box2 {
    grid-column: 1;
    grid-row: 1 / 3;
}

.box3 {
    grid-column: 3;
    grid-row: 2;
}

/* PAGE GRID
- grid will typically have columns, rows, and then gaps between each row and column — commonly referred to as gutters;
*/
.container > div {
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(207,232,220);
    border: 2px solid rgb(79,185,227);
}

/* this switches on Grid Layout, and all of the direct children of the container become grid items */
/* The "fr" unit distributes available space, not all space, therefore if one of your tracks has something large
        inside it there will be less free space to share out */
.container {
    display: grid; /* declaring "display: grid "gives you a one column grid */

    /* to see something that looks more grid-like, we will need to add some columns to the grid */
    /*grid-template-columns: 200px 200px 200px;*/
    /*grid-template-columns: 1fr 1fr 1fr;*/
    /*grid-template-columns: 200px 1fr 1fr;*/
    /*grid-template-columns: repeat(4, 1fr); !* you can repeat all, or a section of, your track listing *!*/
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* auto-fill =  to create as many columns as will
        fit into the container*/

    /* vyse jsme definovali velikost sloupcu, radky tim padem byly vytvoreny tzv. implicitne (ptze.jsme je nedefinovali
        primo); defaultne jsou stanoveny jako "auto-sized" - jsou dostatecne velke na to, aby obsahly svuj obsah;
        pokud je chceme stanovit po svem, pouzijeme "grid-auto-rows" (nebo "grid-auto-columns", pokud jsme zacali
        se stanovovanim radku) */
    /*grid-auto-rows: 100px;*/
    /* the 100px tall tracks won’t be very useful if we add content into those tracks that is taller than 100 px -
        cause an overflow so we use a function minmax(): */
    grid-auto-rows: minmax(100px, auto); /* max is "auto", which will expand to fit the content - he expansion happens
        right along the row */

    /* to create gaps between tracks we use the properties "column-gap" for gaps between columns,
        "row-gap" for gaps between rows, and "gap" to set both at once ("gap" IS NOT a SHORTHAND, to set
        different values for rows and columns we need to use appropriate property) */
    gap: 20px; /* gaps can be any length unit or a percentage, but not a "fr" unit */
    grid-gap: 20px; /* the same as "gap", it is previous version that will be maintained as an alias so will be safe
        to use for some time; to be on the safe side, you could double up and add both properties to make
        your code more bulletproof */
}
/* // Line-based placement
- can place things according to these lines by specifying the start and end line. We do this using
    the following properties:
    - grid-column (shorthand of grid-column-start and grid-column-end separated by a /);
    - grid-row (shorthand of grid-row-start and grid-row-end separated by a /);
    - can also use the value -1 to target the end column or row line, and count inwards from the end using negative values;
    - lines count always from the edges of the explicit grid, not the implicit grid;
*/
.container-placement {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 20px;
}

aside {
    border-right: 3px solid chocolate;
}

.div-header {
    color: crimson;
}

.div-header,
.div-footer {
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(207,232,220);
    border: 2px solid rgb(79,185,227);
}

.container-placement .div-header {
    grid-column: 1 / 3;
    grid-row: 1;
}

.container-placement article {
    grid-column: 2;
    grid-row: 2;
}

.container-placement aside {
    border-right: 3px solid chocolate;
    grid-column: 1;
    grid-row: 2;
}

.container-placement .div-footer {
    grid-column: 1 / 3;
    grid-row: 3;
}

/* A CSS Grid, grid framework:
- Grid "frameworks" tend to be based around 12 or 16 column grids and with CSS Grid, you don’t need any third party
    tool to give you such a framework
- we use "grid-template-columns" on parent element as follows: grid-template-columns: repeat(12, minmax(0,1fr))
    and use line-based placement on child elements to place our content on the 12 column grid (instead of just 3 columns), e.g.:
    article {
      grid-column: 4 / 13;
      grid-row: 2;
    }
*/

/* // Positioning with "grid-template-areas"
- alternative way to place items on your grid is to use the "grid-template-areas" property and giving the various
    elements of your design a name;
- the rules for grid-template-areas are as follows:
    - need to have every cell of the grid filled;
    - to span across two cells, repeat the name;
    - to leave a cell empty, use a . (period);
    - areas must be rectangular — you can’t have an L-shaped area for example;
    - areas can't be repeated in different locations;
*/
.container-template {
    display: grid;
    grid-template-areas:
      "header header"
      "sidebar content"
      "footer ."; /* zapati bude jen pres 1 sloupec; aby se nerozbil template, na misto 2.bunky (prazdne) doplnime tecku */
    grid-template-columns: 1fr 3fr;
    gap: 20px;
}

.container-template .div-header {
    grid-area: header;
}

.container-template article {
    grid-area: content;
}

.container-template aside {
    grid-area: sidebar;
}

.container-template .div-footer {
    grid-area: footer;
}
/* ************************************** */


/*
|| FLOATS
https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Floats
- floating an element changes the behavior of that element and the block level elements that follow it in normal flow;
- the element with the "float" set on it is taken out of the normal layout flow of the document and stuck to the edge
    side of its parent container;
    - any content that comes below the floated element in the normal layout flow will now wrap around it,
    filling up the space to the opposite side of it as far up as the top of the floated element;
- the float property has four possible values:
    - left — floats the element to the left;
    - right — floats the element to the right;
    - none — specifies no floating at all; this is the default value;
    - inherit — specifies that the value of the float property should be inherited from the element's parent element;
- pridanim property "float" ziska element automaticky "display: block", takze i inline elementy, jako je napr. <img>;
    - z toho duvodu bysme elementum s touto propertou meli priradit i sirku (netyka se <img>, ptze ty jiz sve rozmery
    maji (viz "intrinsic" size));
*/
.box-float {
    background-color: lightseagreen;
    border: 3px solid crimson;
    border-radius: 5px;
    color: bisque;
    height: 100px;
    padding: 1em;
    width: 150px;
}

.h3-1 + .box-float {
    /* to float the text around: */
    float: left;
    margin-right: 30px; /* to push the text in <p> away from the element */
    /*float: right;*/
    /*margin-left: 30px;*/
}

/* while we can add a margin to the float to push the text away, we can't add a margin to the text to move it away
    from the float;
- the line boxes of our following element have been shortened so the text runs around the float, but due to the float
    being removed from normal flow the box around the paragraph still remains full width */
.h3-2 + .box-float {
    float: left;
    margin: 20px; /* zamenili jsme margin-right za margin, aby byl efekt vice videt */
}

.margin-float {
    background-color: rgb(79,185,227);
    padding: 10px;
    color: #fff;
}

/* Clearing floats
- if we want to stop the following element from moving up (wrapping) we need to clear it*/
.cleared {
    clear: left;
}

/* Clearing boxes wrapped around a float
- pokud je float element delsi, nez obsah obtekajiciho elementu (element, ktery nasleduje) a oba jsou v obalovacim
    elementu, tak ackoli na 2.nasledujicim elementu pridame propertu "clear", tento 2.element sice jiz nebude obtekat
    "float" element, ale obalovaci element se neprodlouzi, aby obalil obtekajici element vcetne float elementu -
    obal.element se zalomi na konci obtekajiciho elementu;
- musime to resit s pomoci vytvoreni inside layoutu nazyvaneho "block formatting context" (= BFC);
    - nejnovejsi zpusob je pomoci pridani property "display: flow-root" na obalovaci element;
- starsi zpusoby jsou 2, tzv. hacky solution:
    - clearfix hack:
        - pridani pravidla s pouzitim pseudo-elementu ::after na obalovaci element:
        .wrapper::after {
          content: "";
          clear: both;
          display: block;
        };
        - this is essentially the same as if you had added an HTML element such as a <div> below the items and
            set it to "clear: both";
    - using overflow:
        - pridani property "overflow: auto" na obalovaci element;

*/
.wrapper-float {
    background-color: #666666;
    padding: 10px;
    color: #fff;

    /* zkus tuto propertu odstranit, abys videla puvodni problem */
    display: flow-root;
}

.wrapper-float .box-float {
    float: left;
    margin: 20px;
}
/* ************************************** */


/*
|| POSITIONing techniques
- isn’t a method for creating your main page layouts, it is more about managing and fine-tuning the position
    of specific items on the page;
- there are useful techniques for certain layout patterns that rely on the position property;
- there are five types of positioning:
    - static
    - relative
    - absolute
    - fixed
    - sticky
*/

/* // Static:
- the default, nothing special
*/
p.default {
    background-color: rgb(207,232,220);
    border: 2px solid chocolate;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    position: static;
}

/* // Relative:
- moving element relative to its position in normal flow — including making it overlap other elements on the page;
- you can fix it in a position relative to the edges of the page's <html> element (or its nearest positioned ancestor element);
*/
.relative {
    background: rgba(255,84,104,.3);
    border: 2px solid rgb(255,84,104);
    color: crimson;

    /* this doesn't do anything on its own, so we also add top and left properties */
    position: relative;

    /* the element being pushed on its left and top sides, which result in it moving right and down */
    top: 30px;
    left: 30px;
}

/* // Absolute:
- moves an element completely out of the page's normal layout flow, like it is sitting on its own separate layer;
- it means that we can create isolated UI features that don't interfere with the layout of other elements on the page
    (popup information boxes and control menus; rollover panels; UI features that can be dragged and dropped
        anywhere on the page);
- which element is the "containing element" of an absolutely positioned element is very much dependent on the position
    property of the ancestors of the positioned element:
    1. no ancestor elements have their position property explicitly defined:
        - then by default all ancestor elements will have a static position;
        - it means the absolutely positioned element will be contained in the "initial containing block";
        - "initial containing block" has the dimensions of the viewport, and is also the block that contains the <html> element =
            = the absolutely positioned element will be displayed outside of the <html> element,
                and be positioned relative to the initial viewport;
    2. we can change the "positioning context":
        - is done by setting positioning on one of the element's ancestors;
- as positioned elements win over non-positioned elements they appears on the top;
- positioned elements later in the source order win over positioned elements earlier in the source order;
- u teto pozice nejde element vycentrovat pomoci "margin: auto"; muzeme to obejit tak, ze elementu pridame
    "left/right: 50%" a margin-left/margin-right: -XXXpx (kde XXX = polovina rozmeru elementu);
*/

/* absolute positioning with positioning context changed on ancestor element */
.div-absolute,
.div-z-index {
    position: relative;
}

.absolute {
    background: rgba(255,84,104,.48);
    border: 2px solid rgb(255,84,104);
    color: black;
    position: absolute;
    top: 50px;
    left: 30px;
    z-index: 2; /* vysvetleno nize*/
}

/* when positioned elements start to overlap, what determines which element appears on top of which other element?;
- web pages using horizontal (x-axis) and vertical (y-axis) coordinates to work out positioning across to the right
    and down the page;
- pages also have a z-axis: an imaginary line that runs from the surface of your screen, towards your face;
- "z-index" values affect where positioned elements sit on that axis:
        - positive values move them higher up the stack;
        - negative values move them lower down the stack;
        - by default, positioned elements all have a z-index of auto, which is effectively 0;
- ve starsich prohlizecich se muze stat, ze jsou z-indexy ignorovany; je to tim, ze i parent/ancestor element musi mit
    take nastaven z-index (a position pochopitelne), aby se pak aplikovaly i tam, kde je chceme;
*/
.div-z-index p:nth-of-type(2) {
    background: rgba(255,84,104,.3);
    border: 2px solid rgb(255,84,104);
    color: white;
    position: absolute;
    top: 50px;
    left: 30px;
    z-index: 1; /* only accepts unitless index values */
}

/* // Fixed:
- works in exactly the same way as absolute positioning, except that it fixes an element relative to the
    visible portion of the viewport (except if one of its ancestors is a fixed containing block due to its
    "transform" property being different from none);
- can create useful UI items that are fixed in place, like persisting navigation menus that are always visible
    no matter how much the page scrolls;
*/
.fixed {
    background: rgba(255,84,104,.3);
    border: 2px solid rgb(255,84,104);
    color: white;
    position: fixed;
    top: 30px;
    left: 30px;
}

/* // Sticky:
- makes an element act like "position: static" until it hits a defined offset from the viewport,
    at which point it acts like "position: fixed";
- Sticky elements are "sticky" relative to the nearest ancestor with a "scrolling mechanism",
    which is determined by its ancestors' position property.
*/
.sticky {
    background: rgba(255,84,104,.3);
    border: 2px solid rgb(255,84,104);
    color: chocolate;
    position: sticky;
    top: 30px;
    left: 30px;
}

/* supporting browsers will stick the headings (<dt>) to the top of the viewport as they reach that position;
    each subsequent header (<dt>) will then replace the previous one as it scrolls up to that position */
dt {
    background-color: lightseagreen;
    color: white;
    padding: 10px;
    position: sticky;
    top: 0;
    left: 0;
    margin: 1em 0;
}
/* ************************************** */


/*
|| TABLE LAYOUT
- there is a set of CSS properties that define table layout; These properties can be used to lay out elements that are not tables;
- this use is sometimes described as "using CSS tables";
- using CSS tables for layout should be considered a legacy method for those situations where we have very old browsers
    without support for Flexbox or Grid;
*/

/* The <form>, <div>s, <label>s and <input>s have been told to "display" like a table, table rows, and table cells;
 they'll act like HTML table markup, causing the labels and inputs to line up nicely by default */
form {
    display: table;
    margin: 0 auto;
}

form div {
    display: table-row;
}

form label, form input {
    display: table-cell;
    margin-bottom: 10px;
}

form label {
    width: 200px;
    padding-right: 5%;
    text-align: right;
}

form input {
    width: 300px;
}

form p {
    display: table-caption; /* this makes it act like a table <caption> */
    caption-side: bottom; /* tell the caption to sit on the bottom of the table for styling purposes */
    width: 300px;
    color: #999;
    font-style: italic;
}
/* ************************************** */


/* || MULTI-COLUMN
- often referred to as "multicol"
- gives us a way to lay out content in columns, similar to how text flows in a newspaper;
- to turn a block into a multicol container we use:
    - either the "column-count" property, which tells the browser how many columns we would like to have;
    - or the "column-width" property, which tells the browser to fill the container with as many columns of at least that width;
- columns created by multicol cannot be styled individually;

- have two opportunities to change the way that columns display:
    - changing the size of the gap between columns using the "column-gap";
    - adding a rule between columns with "column-rule" (is a shorthand for "column-rule-color", "column-rule-style",
        and "column-rule-width", and accepts the same values as border);
        - rule does not take up any width of its own - make more space will need to increase the "column-gap" size;
*/
.multicol-container {
    /*column-count: 3; !* browser works out how much space to assign each column *!*/
    column-width: 200px;
    /* browser will now give as many columns as it can of the size specified;
        remaining space is then shared between the existing columns - you will not get exactly the width specified,
        unless the container is exactly divisible by that width */

    column-gap: 40px;
    column-rule: 4px solid chocolate;
}

/* Spanning columns */
.multicol-container h4 {
    column-span: all; /* the property can only have the value of "none" (which is the default) or "all" */
    background-color: rgb(79, 185, 227);
    color: white;
    padding: .5em;
}

/* Columns and fragmentation
- when you turn your content into a multicol container it is fragmented into columns, and the content breaks
    to allow this to happen but this breaking can happen in places that lead to a poor reading experience;
- to control this behavior we can use properties from the "CSS Fragmentation" specification (= gives us properties
    to control breaking of content in multicol and in paged media), e.g. property "break-inside";
*/
.card {
    background-color: rgb(207, 232, 220);
    border: 2px solid rgb(79, 185, 227);
    margin: 0 0 1em 0;
    padding: 10px;

    /* delete below properties to see the problem issue */
    break-inside: avoid;
    page-break-inside: avoid; /* the older property of "break-inside" for best browser support */
}
/* ************************************** */


/* || NAVIGATION BAR */
ul.nav-menu {
    list-style: none;
}

.nav-menu li {
    background-color: lightseagreen;
    display: inline-block;
    padding: 0 12px;
}
.nav-menu a {
    border-bottom: none;
}

.nav-menu a:hover {
    background-color: bisque;
    color: crimson;
}





