/* RESPONSIVE WEB DESIGN (RWD)
- it is a term used to describe an approach to web design or a set of best practices, used to create a layout
    that can respond to the device being used to view the content;
*/

@font-face {
    font-family: 'robotoblack';
    src: url('../fonts/roboto-black-webfont.woff2') format('woff2'),
    url('../fonts/roboto-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* || GENERAL STYLES */
html {
    background-color: lightseagreen;
    color: lightseagreen;
    font-family: 'Ranchers', 'robotoblack', cursive;
    font-size: 1em; /* nastaveno pro ucely responsive typography popsane nize v kodu */
    letter-spacing: 1px;
}

body {
    background-color: bisque;
    border: 5px solid chocolate;
    margin: 0 auto;
    /*padding: 0 20px 20px 20px;*/
    /*max-width: 900px;*/
    width: 100%;
}

caption {
    padding: 10px;
}

header {
    background-image: url("../img/robot-1720px.png");
    background-size: 900px 300px;
    background-repeat: no-repeat;
    /*border: 2px solid black;*/
    height: 300px;
    margin: auto;
}

footer {
    background-color: darkgray;
    /*border: 2px solid black;*/
}

#footer-address {
    margin: auto;
    padding: 10px;
}

h1 {
    font-size: 2em;
    margin: 0;
    padding: 20px 0;
    text-align: center;
    text-shadow: 3px 3px 1px black;
}

h2, h3, h4 {
    font-family: 'robotoblack';
    margin: 0.5em 0;
}

h2 {
    color: crimson;
    font-size: 2em;
}

h3, h4 {
    color: chocolate;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.3em;
}

img {
    /* img je in-line element a abysme na takovy el. mohli aplikovat triky platne pro block elementy, musime pridat
    propertu display: block */
    /*display: block;*/
    /*margin: 0 auto;*/
}

main {
    padding: 0 20px 20px 20px;
}

p, li {
    line-height: 2;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    box-sizing: border-box;
    color: inherit;
    padding: 0;
    margin: 0;
}

textarea {
    overflow: auto;
}

button {
    border-radius: 10px;
    border: none;
    background-image: linear-gradient(to bottom right, chocolate, cornsilk);
    box-shadow:
            2px 2px 1px black,
            inset 2px 3px 5px rgba(0,0,0,0.3),
            inset -2px -3px 5px rgba(255,255,255,0.5);
    line-height: 2;
    width: 150px;
}

a {
    border-bottom: 2px solid;
    outline: none;
    padding: 2px 1px 0;
    text-decoration: none;
}

/* nastaveni ikony k externimu odkazu */
a[href*="http"] {
    background: url(../img/external-link-512.png) no-repeat 100% 0; /* specify the position as 100% of the way
    over to the right of the text content, and 0 pixels from the top */
    background-size: 20px 20px;
    padding-right: 21px;
}

a:link {
    color: chocolate;
}

a:visited {
    color: lightcoral;
}

a:focus {
    background: lightseagreen;
}

a:hover {
    color: crimson;
    border-bottom: none;
}

a:active {
    background: crimson;
    color: lightseagreen;
}

h2 a:visited {
    color: crimson;
}

h2 a:hover {
    color: chocolate;
    border-bottom: none;
}

.sidebar {
    background-color: aquamarine;
    padding: 10px;
}

/* || NAVIGATION BAR */
ul.nav-menu {
    list-style: none;
}

.nav-menu li {
    background-color: lightseagreen;
    display: inline-block;
    padding: 0 12px;
}
.nav-menu a {
    border-bottom: none;
}

.nav-menu a:hover {
    background-color: bisque;
    color: crimson;
}


/*
// The viewport meta tag
- <meta> tag in the HTML <head>
<meta name="viewport" content="width=device-width,initial-scale=1">

- the trouble is that RWD with breakpoints and media queries won't work as intended on mobile browsers;
- if you've got a narrow screen layout that kicks in at 480px viewport width or less, and the viewport is set at 960px,
    you'll never see your narrow screen layout on mobile;
- by setting width=device-width you are overriding Apple's default width=960px with the actual width of the device,
    so your media queries will work as intended;

- so you should always include the above line of HTML in the head of your documents;

- there are other settings you can use with the viewport meta tag, however in general the above line is enough;

- initial-scale: Sets the initial zoom of the page, which we set to 1;
- height: Sets a specific height for the viewport;
- minimum-scale: Sets the minimum zoom level;
- maximum-scale: Sets the maximum zoom level;
- user-scalable: Prevents zooming if set to no;

- you should avoid using minimum-scale, maximum-scale, and in particular setting user-scalable to no -
    users should be allowed to zoom as much or as little as they need to;
    - preventing this causes accessibility problems;
*/


/*
|| MEDIA QUERIES
https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries
- allow us to run a series of tests and apply CSS selectively to style the page appropriately for the user's needs;
- you can add multiple media queries within a stylesheet, tweaking your whole layout or parts of it to best suit
    the various screen sizes;
- the points at which a media query is introduced, and the layout changed, are known as "breakpoints";
- common approach when using Media Queries is to create a simple single-column layout for narrow-screen devices
    (e.g mobile phones), then check for larger screens and implement a multiple-column layout when you know
    that you have enough screen width to handle it - this is often described as "mobile first" design;
- the approach to typography shows (see below), you do not need to restrict media queries to only changing the layout
    of the page, they can be used to tweak any element to make it more usable or attractive at alternate screen sizes;
- media queries are case-insensitive;
- rules are called "at-rule" as begin with @-sign, they are @media and @import at-rules;

- the simplest media query syntax:
    @media media-type and (media-feature-rule) {
        - CSS rules go here -
    }
- it consists of:
    - media type, which tells the browser what kind of media this code is for (e.g. print, or screen);
    - media feature rules = expression, which is a rule, or test that must be passed for the contained CSS to be applied;
    - set of CSS rules that will be applied if the test passes and the media type is correct;
-

// Media types
- possible types of media you can specify are:
    - all
    - print
    - screen
    - speech
- media types are optional; if you do not indicate a media type in your media query then the media query will
    default to being for all media types;
- you can also target multiple devices:
    @media screen, print { ... };

// Media feature rules
- describe specific characteristics of the user agent, output device, or environment;
- media feature expressions test for their presence or value, and are entirely optional;
- each media feature expression must be surrounded by parentheses;
- feature we tend to detect most often is viewport width (min-width, max-width, width (= exact width)); the full list is
    available on the link above;
    - also interesting are:
        - "orientation" - testing for orientation can help you to create a layout which is optimised
        for devices in portrait mode;
        - "pointing devices" such as:
            - "hover" (touchscreen and keyboard navigation does not hover) - if we know the user
            cannot hover, we could display some interactive features by default;
                @media (hover: hover) { ... };
            - "pointer" - can help you to design better interfaces that respond to the type of interaction a user
                is having with a screen, e.g. you could create larger hit areas if you know that the user is
                interacting with the device as a touchscreen;
- if you create a media feature query without specifying a value, the nested styles will be used as long as
    the feature's value is not zero (or none, in Level 4):
        @media (color) { ... };

Complex media queries
- using logical operators "not", "and", "only", "," (comma = logical "or" operator);

AND
- each chained feature to return true in order for the query to be true;
- is also used for joining media features with media types;
@media screen and (min-width: 600px)
and
(orientation: landscape) {
    body {
        color: blue;
    }
}

, (COMMA)
- if any of the queries in a list is true, the entire media statement returns true - in other words,
    lists behave like a logical "or" operator;
@media screen and (min-width: 600px),
screen and (orientation: landscape) {
    body {
        color: blue;
    }
}

NOT
- is used to negate a media query, returning true if the query would otherwise return false;
- if present in a comma-separated list of queries, it will only negate the specific query to which it is applied;
- if you use the "not" operator, you must also specify a media type;
- in this next example the text will only be blue if the orientation is portrait;
@media not all and (orientation: landscape) {
    body {
        color: blue;
    }
}

ONLY
- is used to apply a style only if an entire query matches, and is useful for preventing older browsers from applying
    selected styles (pokud nepouzijeme sluvko only, starsi prohlizec precte pouze media type a zbytek pravidla ignoruje;
- if you use the only operator, you must also specify a media type;
@media only screen and (max-width: 500px) {
    body {
        color: blue;
    }
}

// Syntax improvements in Level 4
- @media (width <= 30em) { ... }   =   @media (max-width: 30em) { ... };
- @media (30em <= width <= 50em ) { ... }   =   @media (min-width: 30em) and (max-width: 50em) { ... };
- not() around a media feature negates that feature in the query, e.g. not(hover) would match if the device had no hover capability:
    @media (not(hover)) { ... };
- can use or to test for a match among more than one feature, resolving to true if any of the features are true:
    @media (not (color)) or (hover) { ... };

|| FLEXIBLE GRIDS
- means that you don't need to target every possible device size that there is, and build a pixel perfect layout for it;
- you only need to add in a breakpoint and change the design at the point where the content starts to look bad;
- in the early days of responsive design, our only option for performing layout was to use floats -
    Flexible floated layouts were achieved by giving each element a percentage width, and ensuring that across
    the layout the totals were not more than 100% - there is a formula for taking a layout designed using pixels
    and converting it into percentages: target / context = result;
    e.g., our target column size is 60 px, the context (or container) it is in is 960 px,, we divide 60 by 960
        to get a value we can use in our CSS: 60 / 960 = 0.0625 * 100
            .col {
              width: 6.25%;
            }
    - it is likely that you will come across websites using this approach in your work, so it is worth understanding it;

|| MODERN LAYOUT TECHNOLOGIES
- modern layout methods such as Multiple-column layout, Flexbox, and Grid are responsive by default;
- they all assume that you are trying to create a flexible grid and give you easier ways to do so;
*/

.wrapper {
    max-width: 900px;
    margin: 2em auto;
    display: flow-root;/* toto zajisti, aby obalovaci element nebyl floatovanymi elementy, ktere obsahuje,
        smrsten, ale zachoval si vysku sveho obsahu, a tak aby nasledujici element nebyl floatovanim ovlivnen a
        neobtekal float elementy; problematika "FLOATS" viz soubor "layouts" */
}

div p {
    background-color: #fff;
}


@media screen and (min-width: 600px) {

    body {
        max-width: 900px;
        width: 90%;
    }

    /* // RWD using Media Queries and a flexible grid */
    .col1 {
        width: 31.24999999%;
        float: left;
    }

    .col2 {
        width: 64.58333331%;
        float: right;
    }

    /* // RWD using Flexbox
    - vysledek je stejny jako vyse, ale uz nemusime pouzivat slozity vypocet pro sirku sloupcu;
    */
    .wrapper.flex {
        display: flex;
    }

    .col3 {
        flex: 1;
        margin-right: 5%;
    }

    .col4 {
        flex: 2;
    }

    /* // RWD using Grid */
    .wrapper.grid {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 5%;
    }

    /* // Responsive typography */

    /* na html elementu mame nastavenu velikost pisma v "em" unitach, na h1 mame jako vychozi mensi velikost
    a teprve v tomto pravidlu pro vetsi obrazovky mame nastavenu vetsi velikost;
    */
    h1 {
        font-size: 4rem;
    }
}

/* Using viewport units for responsive typography
- means that we only need to specify the font size for the element once, rather than set it up for mobile and
 redefine it in the media queries; the font then gradually increases as you increase the size of the viewport;

 h1 {
  font-size: calc(1.5rem + 3vw);
}

*/


/*

|| Legacy layout methods
https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Legacy_Layout_Methods
- starsi zpusoby layoutu stranek; je dobre vedet, co bylo pro pripad prace na starsich projektech;


|| Supporting older browsers / Zpetna kompatibilita se starymi prohlizeci
https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Supporting_Older_Browsers
https://developer.mozilla.org/en-US/docs/Learn/Tools_and_testing/Cross_browser_testing

https://gs.statcounter.com/ - can provide statistics filtered by location;
https://caniuse.com/ - this site lists the majority of Web Platform features with information about their browser support status;
*/

