/*CSS = Cascading Style Sheets;
- CSS is a rule-based language;
- CSS3 je posledni verze, ptze vyvoj ma zmenen pristup a namisto novych verzi vznikaji moduly, ktere resi
    jednotlive problematiky, jako napr. media queries, color, box sizing aj., a kazdy z danych modulu ma sve levely, ktere
    jsou prave temi verzemi vyvoje, napr. media queries level 4, box sizing level 3;
https://www.w3.org/Style/CSS/
*/

/* prohlizece maji defaultne nastavene styly, aby byly stranky pro uzivatele citelne, ackoli tvurce stranek zadne stylovani
nenastavil;
- nazyvame to jako "browser defaults" nebo "user agent style" (= UA style/UA style sheets);
- jsou zpusoby, jak tyto "defaults" resetovat (css reset):
    - https://meyerweb.com/eric/tools/css/reset/ - toto je css kod, ktery se vlozi na zacatek css souboru;
    - normalize.css;
- je to uzitecne, ptze se tim vyhneme ruznym vysledkum aplikace naseho css v ruznych prohlizecich;
*/

/* CSS se aplikuje 3 ruznymi zpusoby:
- external style sheet - .css, ktery je nalinkovany do .html souboru skrze elemenet "link" v headu html souboru;
- internal style sheet - kod se vepise do "style" elementu v headu html souboru; tento zpusob je uzitecny, pokud pracujeme
na projektu, kde nemame pristup k externim CSS souborum, abychom je mohli upravit;
- inline style - pridanim atributu "style" primo k elementu, ktery chceme takto nastylovat;
*/


/*
CASCADE and SPECIFICITY
  = are rules to control which selector is stronger in the event of a conflict;
- cascade rule: later styles replace conflicting styles that appear earlier in the stylesheet;
- specificity rule: some selector is rated as being more specific, as in having more specificity than the other type of selector,
so it cancels the other conflicting style declaration */
/* pokud se chceme vyhnout ignorovani CSS pravidla, ktere nejaky prohlizec nezna (ze je pravidlo napr. nove a tvurci
prohlizece jej jeste neimplementovali), nejprve napisu pravidlo ve starsi verzi a pak v novejsi; prohlizec pak jede a
jako posledni uplatni pravidlo, ktere je napsano posledni, pokud jej zna (= cascade rule));
.box {
  width: 500px;
  width: calc(100% - 50px);
}
*/


/*
INHERITANCE
- some CSS property values set on parent elements are inherited by their child elements, and some aren't (
e.g. width as if you set a width of 50% on an element, all of its descendants do not get a width of 50% of their
parent's width) - na MDN je u kazde property tech.specifikace, kde je i uvedeno, jestli je properta dedena, ci ne;
5 zakl.hodnot vztahujicich se k dedicnosti:
1. INHERIT: make an element's property the same as its parent, inheritance is always from the parent element
in the document tree, even when the parent element is not the containing block;
2. INITIAL: set a property to its initial value, on inherited properties, the initial value may be unexpected,
you should consider using the inherit, unset, or revert keywords instead (for color, the initial color is typically black);
3. UNSET: set a property to its inherited value if it inherits, or to its initial value if not,
in other words, it behaves like the inherit keyword in the first case, when the property is an inherited property,
and like the initial keyword in the second case, when the property is a non-inherited property;
4. REVERT: reset a property to the value established by the user-agent stylesheet (or by user styles, if any exist);
5. property "ALL": lets you reset all properties to their initial, inherited, reverted, or unset state at once;
 */

/*
JAK PROHLIZEC VYPOCITA VAHU CSS PRAVIDLA, KTERE MA UPLATNIT
The amount of specificity a selector has is measured using four different values (or components), which can be thought
 of as thousands, hundreds, tens, and ones — four single digits in four columns:

Thousands: Score one in this column if the declaration is inside a style attribute, aka inline styles.
    Such declarations don't have selectors, so their specificity is always 1000.
Hundreds: Score one in this column for each ID selector contained inside the overall selector.
Tens: Score one in this column for each class selector, attribute selector, or pseudo-class contained inside the overall selector.
Ones: Score one in this column for each element selector or pseudo-element contained inside the overall selector.

Note: The universal selector (*), combinators (+, >, ~, ' '), and negation pseudo-class (:not) have no effect on specificity.

special value: "!important" = this is used to make a particular property and value the most specific thing,
thus overriding the normal rules of the cascade.
The only way to override this "!important" declaration would be to include another !important declaration
on a declaration with the same specificity later in the source order, or one with higher specificity.
We strongly recommend that you never use it unless you absolutely have to (exception = CMS project where you can't
edit the core CSS modules)
*/


/*
SHORTHANDS
- some properties like font, background, padding, border, and margin are called shorthand properties;
this is because shorthand properties set several values in a single line;
in 4-value shorthands like padding and margin, the values are applied in the order: top, right, bottom, left (clockwise from the top);
there are also other shorthand types, for example 2-value shorthands, which set padding/margin for top/bottom, then left/right;
This one line: background: red url(bg-graphic.png) 10px 10px repeat-x fixed; is equivalent to these five lines:
background-color: red;
background-image: url(bg-graphic.png);
background-position: 10px 10px;
background-repeat: repeat-x;
background-attachment: fixed;
Warning: One less obvious aspect of using CSS shorthand is how omitted values reset. A value not specified
in CSS shorthand reverts to its initial value. This means an omission in CSS shorthand can override previously set values;
*/


/*
SELECTORS
- typy selektoru a jejich zapis
- UNIVERSAL selector
    - everything in the document:
* { }
    - inside the parent element:
article *:first-child { }
    priklad uveden proto, ze vlastne universal selector v tomto pripade usnadnuje cteni zapisu, ptze se to rovna zapisu:
article :first-child { } ktery ale muze byt zamenen za: article:first-child
    (toto znamena, ze pravidlo se uplatni pro kazdy <article>, ktery je prvnim potomkem jakehokoli jineho elementu)

- TYPE selector (matches elements by node name) / tag name selector / element selector
h1 { }

- CLASS selector
.box { }
    - class selector that will target specific elements with the class applied:
            span.highlight { }
    - target an element if it has more than one class applied
            .notebox.warning { }
            (html zapis: <div class="notebox warning"></div>)

- ID selector
#unique { }

- ATTRIBUTE selector
    - all elements that have [id] attribute:
        [id] {}
    - all <a> elements that have [title] attribute:
        a[title] { }
    - all <a> elements that have [href] attribute which value is exactly value:
        a[href="https://example.com"] { }
    - all <p> elements that have [class] attribute which value is exactly value,
      or contains value in its (space separated) list of values:
        p[class~="special"]
    - all <div> elements that have [lang] attribute which value is exactly value:
        div[lang|="zh"]
      or begins with value immediately followed by a hyphen (tzn, ze text.retezec obsahuje pomlcku, do pravidla pak napiseme
      cely tento text az po cast, ktera je delene pomlckou:
      (html: <li><a href="https://example-box.com">Link 1</a></li>):
        a[href|="https://example"]
    - all <li> elements that have [class] attribute which value begins with value:
        li[class^="box-"]
    - all <li> elements that have [class] attribute which value ends with value:
        li[class$="-box"]
    - all <li> elements that have [class] attribute which value contains value anywhere within the string:
        li[class*="box"]

- PSEUDO-CLASSES selector (pseudo-classes style certain states of an element)
    - target <p> element that is a first-child of any other element / of <article> element
p:first-child { } / article p:first-child
    - user-action pseudo classes = dynamic pseudo-classes
:first-of-type
a:hover { }
a:visited { }
POZN. k :first-child:
- tato pseudotrida targetuje 1. child element jakehokoliv jineho elementu i v zanorene hierarchii;
    napr. mam pravidlo .container :first-child {font-size: 150%}, trida .container je prirazena divu, pod kterym je <p>
    (obsahujici <span>), <h1> a <table> - toto pravidlo se uplatni na cely 1.<p>, na <span> v nem, ptze ten je take 1.childem,
    a dale na 1.<tr> (a na pod nim <th>) a na kazdy dalsi <td>, ktery je zanoreny do kazdeho dalsiho <tr>, ptze je pokazde 1.childem;
    pr. mam ulozeny na https://codepen.io/Dasha_Kala/pen/KKaYYeq

- PSEUDO-ELEMENTS selector
(pseudo-elements select a certain part of an element rather than the element itself;
they act as if you had added a whole new HTML element into the markup, rather than applying a class to existing elements)
p::first-line { }
    - Generating content with ::before and ::after and "content" property = "Generated Content"
    - krasne vyuziti teto vlastnosti na: https://cssarrowplease.com/
.box::before {
    content: "This should show before the other content." // vkladat takto text neni uplne nejvhodnejsi kvuli dalsim upravam
    v budoucnu,  ptze neni tak snadne tento text najit a ani screen reader neni schopen takovy text precist
}
.box::after {
    content: " ➥" // lepsi vyuziti je pro vizualni prvky, ktere navic ani nejsou dulezite pro screen reader
}

- Combining pseudo-classes and pseudo-elements:
    - pravidlo se uplatni pouze na 1.radek <p> elementu, ktery je 1.potomkem elementu <article>
article p:first-child::first-line { }

- seznam pseudo trid a elementu na:
https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Selectors/Pseudo-classes_and_pseudo-elements

- "SELECTOR LIST":
h1, .special {
  color: blue;
}

- "Case-sensitivity":
hodnoty u atributu jsou case-sensitive; pokud chceme tuto vlastnost potlacit, pridame priznak "i"
pred ukoncovaci zavorku u pravidla atributu:
li[class^="a" i] { } tzn. ze bude hledat vsechny elementy s tridou, jejiz hodnota zacina na a nebo A;
Note: There is also a newer value s, which will force case-sensitive matching in contexts where matching is
normally case-insensitive, however this is less well supported in browsers and isn't very useful in an HTML context
*/


/*
COMBINATORS
- Descendant combinator: select only a <p> that is nested inside an <article> element; p that are inside other elements are not affected
(potomek = descendant selectors)
article p

- Child combinator: select only a <p> that is the direct child of an <article> element; p that are further down the hierarchy don't match
(pouze primy potomek)
article > p

- Adjacent sibling combinator: styling a <p> when it comes directly after a <h1> at the same hierarchy level in the HTML
(they have the same parent element)
(sousedici sourozenci)
h1 + p

- General sibling combinator: styling a <p> when it is a sibling of a <h1> even if they are not directly adjacent,
other words, it selects all <p> elements that come anywhere after <h1> elements
(nesousedici sourozenci)
h1 ~ p
*/


/*
BLOCK and INLINE BOXES
- type of box applied to an element is defined by "display" property values such as "block" and "inline";
- display type of an element defines the "outer display type" ("outer value of display") and "inner display type";
- "outer display type" dictates how the box displays alongside other elements in the same formatting context
    (it knows how to behave alongside other boxes);
- "inner display type" dictates how elements inside that box are laid out (how boxes inside this element behave /
    changes the way its children behave - children then have an outer and inner display type too);
    e.g.: if parent element has "flex", "outer display type" of its children is dictated by way of them being part of
    the flex formatting context, but they have an inner display type of "flow" however, meaning that their children
    participate in normal flow;
- by default, the elements inside a box are laid out in "normal flow", which means that they behave
    just like any other block and inline elements;

- we can change the display type by using display values like "flex" or "grid";
- e.g. if we set "display: flex" on an element, the outer display type is block, but the inner display type is changed
    to flex; any direct children of this box will become flex items and will be laid out according to the rules
    set out in the "Flexbox" spec;

BLOCK:
- box will break onto a new line;
- box will extend in the inline direction to fill the space available in its container; in most cases this means that
    the box will become as wide as its container, filling up 100% of the space available (if we give them a width,
    they will continue to lay out one below the other - even if there would be space for them to be side by side;
    each will start against the start edge of the containing block);
- width and height properties are respected;
- padding, margin and border will cause other elements to be pushed away from the box;
- unless we decide to change the display type to inline, elements such as headings (e.g. <h1>) and <p> all use block
    as their outer display type by default;
- block elements in a horizontal writing mode layout vertically, one below the other;
- margins between block elements collapse (if you have an element with a top margin immediately after an element with a bottom margin,
    the margin collapses, and so will essentially become as large as the larger of the two margins);

INLINE:
- box will not break onto a new line;
- width and height properties will not apply;
- vertical padding, margins, and borders will apply but will not cause other inline boxes to move away from the box;
- horizontal padding, margins, and borders will apply and will cause other inline boxes to move away from the box;
- inline boxes are arranged one after the other; if there is not enough space in the containing block for all of the boxes,
    a box can break onto a new line - the lines created are known as "line boxes";
- the line box size in the block direction (so the height) is defined by the tallest box inside it;
- <a> element, used for links, <img>, <span>, <em> and <strong> are all examples of elements that will display inline by default;

- boxes around the words are referred to as "anonymous boxes", boxes introduced to ensure that everything is
    wrapped in a box, but ones that we cannot target directly;
*/

/*
CSS BOX MODEL
- defines how the different parts of a box — margin, border, padding, and content — work together to create a box
    that we can see on the page;
- there is a "standard" and an "alternate" box model;

*** The standard CSS box model ***
- if you give a box a width and a height attribute, this defines the width and height of the content box;
    any padding and border is then added to that width and height to get the total size taken up by the box
- by default, browsers use the standard box model;

*** The alternative CSS box model ***
- any width is the width of the visible box on the page, therefore the content area width is that width
    minus the width for the padding and border;
- if we want to turn on the alternative model for an element we do so by setting "box-sizing: border-box" on it;
- if you want all of your elements to use the alternative box model, and this is a common choice among developers,
    set the box-sizing property on the <html> element, then set all other elements to inherit that value
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

CONTENT BOX
    - area where your content is displayed, which can be sized using properties like width and height;
PADDING BOX (ODSAZENI) - prostor mezi obsahem boxu a jeho ohranicenim
    - padding sits around the content as white space; its size can be controlled using padding and related properties;
    - unlike margins you cannot have negative amounts of padding;
    -  any background applied to your element will display behind the padding,
        and it is typically used to push the content away from the border;
    - padding can be changed on any element, and will make space between its border and whatever is inside the element;
BORDER BOX (OHRANICENI) - hranice boxu
    - border box wraps the content and any padding; its size and style can be controlled using border and related properties;
MARGIN BOX (OKRAJ) - prostor mezi 2 boxy
    - margin is the outermost layer, wrapping the content, padding and border as whitespace between this box and other elements;
    - its size can be controlled using margin and related properties;
    - can have positive or negative values;
        setting a negative margin on one side of your box can cause it to overlap other things on the page;
    - concept of margin collapsing - as explained above, if margins of 2 elements are positive,
        those margins will combine to become one margin, which is the size of the largest individual margin;
        if one or both margins are negative, the amount of negative value will subtract from the total;

- all of the above applies fully to block boxes. Some of the properties can apply to inline boxes too,
    such as those created by a <span> element:
        - the width and height are ignored;
        - the vertical margin, padding, and border are respected but they do not change the relationship of other
            content to our inline box and so the padding and border overlaps other words in the paragraph;
        - horizontal padding, margins, and borders are respected and will cause other content to move away from the box
- example on: https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/The_box_model

*** Using "display: inline-block" ***
- this is useful for situations where you do not want an item to break onto a new line, but do want it to respect
    width and height and avoid the overlapping seen (padding, margin, and border will cause other elements
    to be pushed away from the box);
- we see this fairly frequently in navigation bars;
*/

/*
ZAPIS CSS PRAVIDLA
= "CSS declaration block" is paired with "selector" (element selector "html" in the bellow case) to produce "CSS ruleset";
- cely zapis u "html" elementu se nazyva "CSS ruleset/CSS rule";
- zapis vsech properties a values se nazyva "CSS Declaration Block";
- zapis property a value se nazyva: "CSS declaration";
- the element or elements which are selected by the selector are referred to as the "subject of the selector";
- CSS properties and values are case-sensitive;
*/

/*
ORGINIZING CSS
https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Organizing

1. OOCSS (Object Oriented CSS):
https://github.com/stubbornella/oocss/wiki

2. BEM (Block Element Modifier):
http://getbem.com/

3. SMACSS (Scalable and Modular Architecture for CSS):
http://smacss.com/

4. ACSS / Atomic CSS (Atomized CSS)
https://acss.io/

5. SUITCSS ()
http://suitcss.github.io/

and others :)

Build systems for CSS:
1. pre-processor (SASS)
- runs over your raw files and turns them into a stylesheet;
2. post-processor (: https://cssnano.co/)
- takes your finished stylesheet and does something to it — perhaps to optimize it in order that it will load faster;

*/

/* || WEB FONTS
detaily na: https://developer.mozilla.org/en-US/docs/Learn/CSS/Styling_text/Web_fonts

SYNTAX:
@font-face {
  font-family: "myFont";
  src: url("myFont.woff2");
}

- the order in which you list font files is important:
html {
  font-family: "myFont", "Bitstream Vera Serif", serif;
}

- all major browsers support WOFF/WOFF2 (Web Open Font Format versions 1 and 2)

VARIABLE FONT
- vyhodou je, ze jeden typ pisma muzeme stylovat do vice podob a neni potreba natahovat na stranku vice souboru
    s ruznymi typy pisma pro design ucely, coz optimalizuje stranku;
- detaily na: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Fonts/Variable_Fonts_Guide

ONLINE FONT SERVICE
- vetsina funguje po registraci, vyjma google fonts, ktere pouzivam i na teto strance (Ranchers) - nacteni je definovano
    v html v headeru a typ pisma je vypsan mezi font family v pravidlu pro html selector - viz nize;
*/


/* CSS Image Replacement
- triky, jak nahradit text v contentu elementu nejakym obrazkem;
https://css-tricks.com/css-image-replacement/
https://css-tricks.com/the-image-replacement-museum/
*/

/*
|| "@rules" [at-rules]
= provide instruction for what CSS should perform or how it should behave;
- melo by to byt specifikovano az za elementy, ktere jsou timto dotceny kvuli cascade pravidlu */

/* nacteni pisma ze souboru v pc/na serveru */
@font-face {
    font-family: 'robotoblack';
    src: url('../fonts/roboto-black-webfont.woff2') format('woff2'),
    url('../fonts/roboto-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* || GENERAL STYLES */
html {
    background-color: lightseagreen;
    color: lightseagreen;
    font-family: 'Ranchers', 'robotoblack', cursive;
    font-size: 16px;
    letter-spacing: 1px;
}

/* applies styles to the part of a document that has been highlighted by the user
    (such as clicking and dragging the mouse across text) */
::selection {
    background: #cccccc;
    color: #666666 ;
}

body {
    background-color: bisque;
    border: 5px solid chocolate;
    margin: 0 auto;
    max-width: 900px;
    /*padding: 0 20px 20px 20px;*/
    width: 90%;
}

caption {
    padding: 10px;
}

header {
    background-image: url("../img/robot-1720px.png");
    /*background-image: linear-gradient(180deg, chocolate 39%, bisque 96%);*/
    background-size: 900px 300px;
    background-repeat: no-repeat;
    /*border: 2px solid black;*/
    height: 300px;
    margin: auto;
}

footer {
    background-color: darkgray;
    /*border: 2px solid black;*/
}

#footer-address {
    margin: auto;
    padding: 10px;
}

h1 {
    font-size: 4em;
    margin: 0;
    padding: 20px 0;
    text-align: center;
    text-shadow: 3px 3px 1px black;
}

h2, h3, h4 {
    font-family: 'robotoblack';
}

h2 {
     color: crimson;
     font-size: 2em;
 }

h3, h4 {
    color: chocolate;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.3em;
}

img {
    /* img je in-line element a abysme na takovy el. mohli aplikovat triky platne pro block elementy, musime pridat
    propertu display: block */
    /*display: block;*/
    /*margin: 0 auto;*/
}

.img-circle {
    border-radius: 50%;
}

main {
    padding: 0 20px 20px 20px;
}

p, li {

    line-height: 2;
}

/* Styling things based on location in a document */
li em {
    color: crimson;
}

h2 + p {
    color: black;
}

/* Styling things based on state */
/*a:visited {*/
/*    color: aquamarine;*/
/*}
*/

/* ************************************** */


/* || PAGE "CONTACT" - Example of using function value of css property*/
.outer {
    border: 5px solid black;
}

/* u elementu nize jsou jako hodnoty nekterych propert pouzity jednoduche fce "calc()", "rotate()"*/
.box1 {
    padding: 10px;
    width: calc(90% - 30px); /* lze jako hodnotu pouzit i funkci */
    background-color: chocolate;
    color: white;
}

.box2 {
    margin: 30px;
    width: 100px;
    height: 100px;
    background-color: chocolate;
    transform: rotate(0.8turn);
}
/* ************************************** */


/* || PAGE "ABOUT" - BACKGROUND and BORDER PROPERTY */
.wrapper {
    display: flex;
}

.background-box {
    width: 200px;
    height: 120px;
    border: 1px solid #ccc;
    margin: 20px;
}

/* image sedi vzdy nad background-color*/
.a {
    background-image: url("../img/yellow-star.png");
    background-color: lightseagreen;
}

.b {
    background-color: lightseagreen;
    background-image: url("../img/yellow-star.png");
    background-repeat: repeat-y; /* default value is repeat - viz priklad u tridy "a" */
}

/* background-size - velikost obrazku vetsiho nez element bude prohlizec dle zadane hodnoty upravovat */
.c {
    background-image: url("../img/angry-kangaroo-700px.jpg");
    /*background-repeat: no-repeat;*/
    background-size: contain;
    /*background-size: cover;*/
}

/* background-position - default value is (0,0);
- uses a coordinate system in which the top-left-hand corner of the box is (0,0),
    and the box is positioned along the horizontal (x) and vertical (y) axes;
- background-position is a shorthand for background-position-x and background-position-y;
(container width - image width) * (position x%) = (x offset value)
(container height - image height) * (position y%) = (y offset value)
*/
.d {
    background-image: url("../img/yellow-star.png");
    background-color: lightseagreen;
    background-repeat: no-repeat;

    /* 1-value syntax - This specifies an edge against which to place the item; the other dimension is then set to 50% */
    /*background-position: center;*/
    /*background-position: top center;*/
    /*background-position: 20px 10%;*/
    /*background-position: 20px top;*/
    /* uvedena hodnota (v cislech (0 0), px, em, cm,ch, %) se vztahuje ke klicovemu slovu, ktere ji predchazi: */
    /*background-position: top 20px right 10px;*/
    /*background-position: bottom 10% right;*/
    background-position: initial;
}

/* Gradient backgrounds */
.e {
    /*background-image: linear-gradient(105deg, rgba(0,249,255,1) 39%, rgba(51,56,57,1) 96%);*/
    background-image: linear-gradient(105deg, lightseagreen 39%, chocolate 96%);
}
.f {
    background-image: radial-gradient(circle, rgba(0,249,255,1) 39%, rgba(51,56,57,1) 96%);
    background-size: 100px 50px;
}

/* Multiple background images
- each value of the different properties will match up to the values in the same position in the other properties
    (in example bellow, background-repeat: no-repeat will apply to yellow-star.png,
    and background-repeat: repeat-x will apply to big-star.png);
- if different properties have different numbers of values then the smaller numbers of values will cycle
    (in example bellow, background-position: top right will cycle and apply to both images), so
    if there are four background images but only two background-position values, the first two position values will
        be applied to the first two images, then they will cycle back around again — image3 will be given
        the first position value, and image4 will be given the second position value;
*/
.g {
    background-image: url("../img/yellow-star.png"), url("../img/big-star.png");
    background-repeat: no-repeat, repeat-x;
    background-position: top right;
}

/* Background attachment property
- it specify how backgrounds scroll when the content scrolls;
- 3 values: scroll, fixed, local (new)
- example on https://mdn.github.io/learning-area/css/styling-boxes/backgrounds/background-attachment.html
*/

/* Using the background shorthand property
- komplikovanejsi; podrobnosti na https://developer.mozilla.org/en-US/docs/Web/CSS/background
*/

/* BORDERS */
.border-box {
    width: 200px;
    height: 100px;
    padding: .5em;
    margin: 20px;
}

/*
- shorthand property "border" sets the color, width, and style;
- we can target one edge of the box (border-top, border-right);
- individual properties for these shorthands would be:
    border-width: 1px;
    border-style: solid;
    border-color: black;
- And for the longhands:
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: black;
*/

.h2-border {
    border-top: 2px dotted chocolate;
    border-bottom: 1em double lightseagreen;
}

/*Rounded corners
- 2 lengths or percentages may be used as a value, the 1st value defining the horizontal radius, and the 2nd the vertical radius,
    one value will be used for both;
*/
.aa {
    border: 5px solid lightseagreen;
    border-radius: 10px;
}

.bb {
    border: 5px solid chocolate;
    /* or we can target only one corner - horizontal radius of 1em, and a vertical radius of 10%: */
    border-bottom-right-radius: 2em 30%;
}
.cc {
    border: 5px solid rebeccapurple;
    border-radius: 10px;
    border-top-right-radius: 30% 50%;
}
/* ************************************** */


/* || PAGE "ABOUT" - WRITING MODES
- "writing-mode" property
    horizontal-tb
    vertical-rl
    vertical-lr
- when we switch the writing mode, we are changing which direction is block and which is inline - see pictures in "img"
    directory;
- in addition to writing mode we also have text direction;
*/
.wm-box {
    border: 1px solid chocolate;
    margin: 10px;
    /*kdyz udelim vsem boxum sirku, ukaze se, jaky vliv ma na umisteni textu;
        neni to chovani, ktere bychom chteli*/
    /*width: 80px;*/
    /* proto: CSS has recently developed a set of mapped properties, these essentially replace physical properties
     — things like width and height — with "logical", or "flow relative" versions:
        rozpis na: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Logical_Properties
        width = inline-size
        height = block-size
    */
    inline-size: 150px;
    block-size: 250px;

    /* to same plati pro margin, border a padding;
        margin-top = margin-block-start
        border-bottom = border-block-end
        border-left = border-inline-start
        padding-right = padding-inline-end
     */
    margin-block-start: 20px;
    padding-inline-end: 2em;
    padding-block-start: 2px;
    border-block-start: 5px solid pink;
    border-inline-end: 10px dotted rebeccapurple;
    border-block-end: 1em double orange;
    border-inline-start: 1px solid black;
}

.horizontal-tb {
    writing-mode: horizontal-tb;
}

.vertical-rl {
    writing-mode: vertical-rl;
}

.vertical-lr {
    writing-mode: vertical-lr;
}

/* nejenom property jsou v modu "logical", take hodnoty pro nektere property (napr. "float"), ktere prave nesou
    top, right, bottom, left = block-start, inline-end, block-end, inline-start;
    POZN. toto podporuje zatim jen Firefox!!!!!!!!!!!!!!!!!!!!!!!!!
*/
.pl-box {
    border: 5px solid chocolate;
    margin: 10px;
    inline-size: 150px;
    block-size: 250px;
    writing-mode: vertical-rl;
}

.physical {
    float: left;
    margin-inline-end: 10px;
    margin-block-end: 10px;
}

.logical {
    /*float: inline-end;*/
    margin-inline-end: 10px;
    margin-block-end: 10px;
}
/* ************************************** */


/* || PAGE "ABOUT" - OVERFLOW PROPERTY
- overflow = preteceni; default value is "visible", ptze CSS je nastaveno tak, aby zabranovalo ztrate obsahu;
- when developing a site, always keep overflow in mind!!!!!!!!!!!!!!!!!!!
    (test designs with large and small amounts of content; increase the font sizes of text; ... )

*/
.overflow-box {
    border: 5px solid chocolate;
    margin: 10px;
    inline-size: 230px;
    block-size: 200px;
}

.hidden {
    /* we should only do this if hiding content won't cause problems */
    overflow: hidden;
}

/* value of overflow such as "scroll" or "auto" creates a "Block Formatting Context" (= BFC)*/
.scroll {
    /*overflow: scroll;*/
    /*overflow-y: scroll;*/
    overflow: hidden scroll; /* tento zapis rovna se zapisu vyse; 1.hodnota se vztahuje k ose x, 2. hod k ose y*/
}

.auto {
    overflow: auto;
}
/* ************************************** */


/* || PAGE "ABOUT" - CSS VALUES and UNITS
https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Values_and_Units
- every property used in CSS has a "value type" (= data type) defining the set of values that are allowed for that property;
- CSS value types tend to be denoted using angle brackets, e.g. the color property, versus the <color> data type;
- there are various numeric value types:
    <integer>: -55, 10
    <number>: 0.22, -1.2, 125
    <dimension>:  is a <number> with a unit attached to it, 45deg, 5s, or 10px
                  is an "umbrella category" that includes the <length>, <angle>, <time>, and <resolution> types
    <percentage>: percentage values are always relative to another quantity
                  e.g., an element's length is relative to its parent element's length

LENGTH
- more details on https://developer.mozilla.org/en-US/docs/Web/CSS/length
- 2 types: relative and absolute
ABSOLUTE
    - they are not relative to anything else, and are generally considered to always be the same size;
    - only value that we will commonly use is px (pixels);
RELATIVE
    - are relative to something else, perhaps the size of the parent element's font, or the size of the viewport;
    - em and rem are most frequently when sizing anything (boxes, text,...);
    - vw, vh, ...

EM UNIT = my parent element's font-size; each successive level of nesting gets progressively larger,
    as each has its font size set to 1.3em — 1.3 times its parent's font size;
*/
.ems li {
    font-size: 1.3em;
}
/*
REM UNIT = the root element's font-size" (rem stands for "root em"); the <li> elements take their sizing
    from the root element (<html>) = each successive level of nesting does not keep getting larger;
*/
.rems li {
    font-size: 1.3rem;
}
/* however, if you change the <html> font-size in the CSS you will see that everything else changes relative to it
    — both rem- and em-sized text

VIEWPORT units
- vw (1vw = 1% of the viewport's width) or vh (1vh = 1% of the viewport height)
- if you set your font size using vw, it will always relate to the size of the viewport;
- problem with doing this is that the user loses the ability to zoom any text set using the vw unit,
    as that text is always related to the size of the viewport - therefore you should never set text using viewport units alone;
    - there is a solution, and it involves using calc() - see below;
*/
.viewport li {
    /*font-size: 1.5vh; !* pokud zvetsujeme nebo zmensujeme zooming na strance, pismo zustava stale stejne velke *!*/
    font-size: calc(0.5rem + 0.3vw);
}

/*PERCENTAGE
- they are always set relative to some other value, e.g. if you set an element's font-size as a percentage
    it will be a percentage of the font-size of the element's parent, if you use a percentage for a width value,
    it will be a percentage of the width of the parent;
- with no percentage applied the element would take up 100% of the available space, if it is a block level element;
    if we give it a percentage width, this becomes a percentage of the space it would normally fill
- POZOR !!!!!!!!!!!!!!!!:
    - when setting margin and padding in percentages, the value is calculated from the inline size of the containing block
    (the width when working in a horizontal language) = it means you can have equal-sized margins and padding all around the box
    (example see bellow in .opacity-box)
*/
.percentage li {
    font-size: 80%;
}

/* NUMBER
- some value types accept numbers, without any unit added to them, e.g. "opacity"
*/
.opacity {
    background-image: url("../img/robot-400px.png");
    background-size: 230px 200px;
}
.opacity-box {
    background-color: bisque;
    border: 4px solid chocolate;
    margin: 10%;
    opacity: 0.6;
    padding: 10%;
}

/* COLOR
- You can mix and match color models, however for consistency it is usually best if your entire project uses the same one!

1. Color keywords (aqua, red,...)
*/
.color-keyword {
    background-color: aqua;
}
/*
2. Hexadecimal RGB values:
- pokud je barva tvorena zapisem stejnych hodnot, lze jeji zapis zkratit z 6-ciferneho na 3-ciferny, napr.
    #ffffff = #fff a je to to same
*/
.color-hex {
    background-color: #c55da1;
    /*background-color: #fff;*/
}
/*
3. RGB and RGBA values
-  RGB value is a function — rgb()
*/
.color-rgb {
    background-color: rgb(2, 121, 139);
}
/* RGBA - A = alpha channel - set this value to 0 it will make the color fully transparent, whereas 1 will make it fully opaque
- alpha channel on a color has one key difference to using the opacity property:
    when you use opacity you make the element and everything inside it opaque,
    whereas using RGBA colors only makes the color you are specifying opaque
*/
.color-rgba {
    background-color: rgba(18, 138, 125, 0.2);
}
/*
4. HSL and HSLA values
- the hsl() function accepts hue, saturation, and lightness values;
Hue: The base shade of the color. This takes a value between 0 and 360, representing the angles around a color wheel;
Saturation: How saturated is the color? This takes a value from 0–100%, where 0 is no color
    (it will appear as a shade of grey), and 100% is full color saturation;
Lightness: How light or bright is the color? This takes a value from 0–100%, where 0 is no light
    (it will appear completely black) and 100% is full light (it will appear completely white);
*/
.color-hsl {
    background-color: hsl(174, 77%, 31%);
}
.color-hsla {
    background-color: hsla(188, 97%, 28%, .3);
}

/* Strings and identifiers
- there are places where keywords are used as a value (for example <color> keywords like red);
- these keywords are more accurately described as "identifiers", a special value that CSS understands;
- but there are places where you use strings in CSS, e.g. when specifying generated content;
    in this case, the value is quoted to demonstrate that it is a string;

.box::after {
  content: "This is a string. I know because it is quoted in the CSS."
}
*/

/* Functions
- they do exist in CSS too, as property values
- rgb(), hsl(), url(), calc()

calc()
- useful if you want to work out values that you can't define when writing the CSS for project,
    and need the browser to work out for you at runtime;
*/
/* ************************************** */


/* ||
SIZING ITEMS IN CSS
- HTML Elements have a natural size (e.g. image has a width and a height defined in the image file it is embedding into the page);
    - this size is described as the "intrinsic" size;
    - empty <div>, on the other hand, has no size of its own - the size of this <div> in the block dimension comes
        from the size of the content, this is the intrinsic size of the element — its size is defined by its content;
- when a size is given to an element (the content of which then needs to fit into that size) we refer to it as an "extrinsic" size;

min- and max- sizes
- "min-height" property: if you have a box that might contain a variable amount of content, and you always want it to be
    at least a certain height, but will then grow taller if there is more content than the box has space for at its minimum height;
- "max-width" property: common use is to cause images to scale down if there is not enough space to display them at their
    intrinsic width while making sure they don't become larger than that width (as the image would be forced to stretch
    and become larger, causing it to look pixelated);
    - if image intrinsic width is greater than its container, the image is able to become smaller than its container size,
        and will stop at 100% of its container size - ale toto chovani vidim, i kdyz nastavim jen width: 100%....
        viz priklady nize;
*/
.box-width {
    border: 4px solid chocolate;
    margin: 10px;
    width: 200px;
}

.minibox-width {
    border: 4px solid chocolate;
    margin: 10px;
    width: 20px;
}

.width-normal {
    width: 100%;
}

.width-max {
    max-width: 100%;
}
/* ************************************** */


/* ||
IMAGES, MEDIA and FORM ELEMENTS
- images and video are described as "replaced elements" = CSS cannot affect the internal layout of these elements —
    only their position on the page amongst other elements;
- certain replaced elements, such as images and video, are also described as having an aspect ratio (=
    pomer delky ku vysce obrazu, napr. 16:9) - will be displayed using the intrinsic dimensions of the file by default;

SIZING IMAGES
- jak uz jsme si ukazovali vyse - pomoci "max-width"

- dale pomoci "object-fit": the replaced element can be sized to fit a box in a variety of ways
POZN. bez nastaveni height a width to nefunguje pozadovanym zpusobem
*/
.cover {
    height: 100%;
    object-fit: cover; /*zmenší velikost obrázku a zachová poměr stran tak, aby úhledně vyplnil rámeček;
    při zachování poměru stran budou některé části obrazu rámečkem oříznuty*/
    width: 100%;
}
.contain {
    height: 100%;
    object-fit: contain; /*obrázek bude zmenšen, dokud nebude dostatečně malý, aby se vešel do rámečku*/
    width: 100%;
}
.fill {
    height: 100%;
    object-fit: fill;
    width: 100%;
}

/* POZN.
when using various CSS layout techniques on replaced elements, they behave slightly differently to other elements:
    - in a flex or grid layout elements are stretched by default to fill the entire area; images will not stretch,
        and instead will be aligned to the start of the grid area or flex container;

/*
- in some browsers, form elements do not inherit font styling by default. Therefore if you want to be sure
    that your form fields use the font defined on the body, or on a parent element, you should add this rule to your CSS;
- across browsers form elements use different box sizing rules for different widgets - for consistency it is a good idea
    to set margins and padding to 0 on all elements, then add these back in when styling particular controls;
*/
button,
input,
option,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    box-sizing: border-box;
    color: inherit;
    padding: 0;
    margin: 0;
}
/* in addition to the rules mentioned above, you should also set "overflow: auto" on <textarea>s to stop IE showing
    a scrollbar when there is no need for one */
textarea {
    overflow: auto;
}

/*
STYLING TEXT INPUT
- bez tohoto pravidla se boxy v ramci formulare nezarovnavaji pozadovanym zpusobem - jsou zarovnany standardne do bloku,
tedy pod sebe a jejich deti take - takze pak nejde napr. docilit, aby se submit button zarovnal na stred */

form > div {
    display: flex;
}

div.checkbox {
    display: block;
    padding: 10px;
}

/* toto zajisti, aby mezi popiskem a input polem byl prostor; jinak je popisek nalepeny na pole */
label {
    width: 4em;
}

.checkbox label {
    cursor: pointer;
}

/* vycentruje tlacitko na stred formulare */
.buttons {
    justify-content: center;
}

.preview-form {
    width: 90%;
    max-width: 700px;
    /*border: 1px solid #4D4E53;*/
    /*border-radius: 2px;*/
    padding: 10px 14px 10px 10px;
    margin-bottom: 10px;
}

/* "input" je in-line element; pokud tedy chceme vynutit chovani blokove, nastavime: */
.preview-form input {
    /*cursor: pointer;*/
    display: block;
}

.preview-form input[type="checkbox"] {
    display: inline;
    margin-right: 10px;
}

input[type="text"],
input[type="email"],
select,
option {
    background-color: azure;
    border: 2px solid chocolate;
    cursor: pointer;
    margin: 0 0 1em 0;
    padding: 5px;
    width: 100%;
}

/*POZOR - tento selector je pomerne obecny, takze se uplatni i na jine inputy typu submit, ktere na strance mam */
input[type="submit"] {
    background-color: chocolate;
    border: 3px solid chocolate;
    border-radius: 5px;
    color: bisque;
    font-size: large;
    font-weight: bold;
    padding: 10px 1em;
}
input[type="submit"]:hover {
    background-color: bisque;
    color: chocolate;
    cursor: pointer;
}

/* k formularum patri i input type jako "checkbox" (= mozno zakliknout vice moznosti), "radio" (= mozno zakliknout jen
    jednu variantu), "file" (= pro nahrani souboru)
*/
/* ************************************** */


/* || PAGE "ABOUT" - CSS SPRITES
https://css-tricks.com/css-sprites/
 - CSS Sprites are a means of combining multiple images into a single image file for use on a website, to help with performance;
 -  get the image once, and shift it around and only display parts of it; this reduces the overhead of having
    to fetch multiple images;
- you set the same background-image on several CSS classes and set the background position and dimensions
    of the individual classes to display a single portion of the sprite;
- existuji utility, ktere generuji a nastavuji sprite spravne pro CSS, abysme nemuseli vse resit rucne;
 */

.sprite {
    width: 266px;
    height: 140px;
    border: 1px solid #ccc;
    margin: 20px;
    background-image: url('../img/sprite.png');
    background-repeat: no-repeat;
}

.canada {
    height: 128px;
    background-position: -5px -5px;
}

.usa {
    height: 135px;
    background-position: -5px -143px;
}

.mexico {
    height: 147px;
    background-position: -5px -288px;
}

/* ************************************** */


/* || PAGE "TABLE" - HRANI S TABULKAMI */
.table-wrapper-1 table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
}

.table-wrapper-1 tbody {
    font-size: 90%;
    font-style: italic;
}

.table-wrapper-1 td,
.table-wrapper-1 th {
    border: 1px solid rgb(190,190,190);
    /*color: chocolate;*/
    padding: 10px 20px;
}

.table-wrapper-1 tfoot {
    font-weight: bold;
}

.table-wrapper-1 th {
    background-color: rgb(235,235,235);
}

.table-wrapper-1 td {
    text-align: center;
}

.table-wrapper-1 tr:nth-child(even) td {
    background-color: rgb(250,250,250);
}

.table-wrapper-1 tr:nth-child(odd) td {
    background-color: rgb(245,245,245);
}
/*---------------------------------------------*/

/* table columns tend to be sized according to how much content they contain */
.table-wrapper-2 table {
    background-color: #ff33cc; /* we've given the entire table a solid background color so that browsers that don't
    support the :nth-child selector still have a background for their body rows */
    border: 3px solid purple;
    border-collapse: collapse; /* by default, when you set borders on table elements, they will all have spacing between them;
    setting "collapse" will cause borders collapse down into one, which looks much better */
    color: black;
    table-layout: fixed; /* value "fixed" sizes columns according to the width of their headings */
    width: 100%; /* table will fill any container it is put in, and be nicely responsive */
}

.table-wrapper-2 thead th:nth-child(1) {
    width: 30%; /* the entire column width follows the width of its heading */
}

.table-wrapper-2 thead th:nth-child(2) {
    width: 20%;
}

.table-wrapper-2 thead th:nth-child(3) {
    width: 15%;
}

.table-wrapper-2 thead th:nth-child(4) {
    width: 35%;
}

.table-wrapper-2 th,
.table-wrapper-2 td {
    padding: 20px;
}

.table-wrapper-2 th {
    letter-spacing: 2px;
}

.table-wrapper-2 td {
    letter-spacing: 1px;
}

/* text-align" - by default, cells are given a text-align value of left, and headings are given a value of center,
but generally it looks better to have the alignments set the same for both */
.table-wrapper-2 tbody td {
    text-align: center;
}

.table-wrapper-2 tfoot th {
    text-align: right;
}

/* we could have put both the background image and the linear gradient on the <thead> and <tfoot> elements
    using multiple background images, but we decided to do it separately for the benefit of older browsers
    that don't support multiple background images or linear gradients */
.table-wrapper-2 thead,
.table-wrapper-2 tfoot {
    background: url(../img/leopardskin.jpg);
    color: white;
    text-shadow: 1px 1px 1px black;
}

.table-wrapper-2 thead th,
.table-wrapper-2 tfoot th,
.table-wrapper-2 tfoot td {
    background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5));
    border: 3px solid purple;
}

/* zebra striping */
/* ":nth-child" selector being used to select specific child elements. It can also be given a formula as a parameter,
    so it will select a sequence of elements. The formula 2n-1 would select all the odd numbered children (1, 3, 5, etc.)
    and the formula 2n would select all the even numbered children (2, 4, 6, etc.).
    We've used the odd and even keywords in our code, which do exactly the same things as the aforementioned formulae */
.table-wrapper-2 tbody tr:nth-child(odd) {
    background-color: #ff33cc;
}

.table-wrapper-2 tbody tr:nth-child(even) {
    background-color: #e495e4;
}

.table-wrapper-2 tbody tr {
    background-image: url(../img/noise.png);
}

.table-wrapper-2 caption {
    /* muzeme menit, kde u tabulky bude popisek zobrazen a jak bude zarovnan;
    vychozi zobrazeni je top, center */
    caption-side: bottom;
    text-align: right;

    color: #666;
    font-style: italic;
    letter-spacing: 1px;
    padding: 20px;
}
/* ************************************** */


/* || PAGE "ADVANCED" - ROZSIRENE STYLOVANI */

.box-shadow {
    background-color: chocolate; /* nastaveni pro prohlizece, ktere nepodporuji linear-gradient */
    background-image: linear-gradient(to bottom, chocolate, cornsilk);
    max-width: 100%;
    padding: 10px;
}
/* "box-shadow" property:
    The first length value is the horizontal offset — the distance to the right the shadow is offset
        from the original box (or left, if the value is negative);
    The second length value is the vertical offset — the distance downwards that the shadow is offset
        from the original box (or upwards, if the value is negative);
    The third length value is the blur radius — the amount of blurring applied to the shadow;
    OPTIONAL: the fourth length value can be optionally set which is a spread radius;
        If set, this causes the shadow to become bigger than the original box;
        It is not very commonly used, but worth mentioning;
    The color value is the base color of the shadow;
*/

/* simple box shadow */
.simple {
    box-shadow: 5px 5px 5px rgba(0,0,0,0.7);
}

/* multiple box shadow */
.multiple {
    box-shadow: 1px 1px 1px black,
    2px 2px 1px black,
    3px 3px 1px chocolate,
    4px 4px 1px chocolate,
    5px 5px 1px black,
    6px 6px 1px black;
}

/* other box shadow features */
button {
    width: 150px;
    line-height: 2;
    border-radius: 10px;
    border: none;
    background-image: linear-gradient(to bottom right, chocolate, cornsilk);
    box-shadow:
            2px 2px 1px black,
            inset 2px 3px 5px rgba(0,0,0,0.3),
            inset -2px -3px 5px rgba(255,255,255,0.5);
}
button:active {
    box-shadow: inset 2px 2px 1px black,
    inset 2px 3px 5px rgba(0,0,0,0.3),
    inset -2px -3px 5px rgba(255,255,255,0.5);
}

/* filters */
.img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
}
.blur {
    filter: blur(8px); /* indicate how much the image should be blurred */
}
.grayscale {
    filter: grayscale(100%); /* by using a percentage we are setting how much color we want to be removed */
}
/*contrast(200%), invert(100%) or hue-rotate(20deg)*/

/* difference between filter: drop-shadow and box-shadow property*/
.filter {
    border: 5px dashed chocolate;
    margin: 20px;
    padding: 10px;
}
.drop-shadow {
    filter: drop-shadow(5px 5px 1px rgba(0,0,0,0.7));
}
.standard-box-shadow {
    box-shadow: 5px 5px 1px rgba(0,0,0,0.7);
}

/* Blend modes
examples on: https://mdn.github.io/learning-area/css/styling-boxes/advanced_box_effects/blend-modes.html
properties:
    background-blend-mode
    mix-blend-mode
*/

/* CSS shapes
more details on: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Shapes/Overview_of_CSS_Shapes
*/
.preview {
    background-color: white;
    border: 1px solid #4D4E53;
    border-radius: 2px;
    margin-bottom: 10px;
    max-width: 700px;
    padding: 10px 14px 10px 10px;
    width: 90%;
}
.img-shapes {
    float: left;
    shape-outside: circle(50%);
}
/* ************************************** */


/* || TEXT STYLING

FONT FAMILY
- lepe pouzivat "web safe fonts", tedy pisma, ktera jsou podporovana na vsech OS (Windows, macOS, the most
    common Linux distributions, Android, and iOS), seznam na https://www.cssfontstack.com/;
    nebo "web fonts", ktera se stahnou spol. se strankou;
- CSS defines five generic names for fonts:  serif, sans-serif, monospace, cursive and fantasy;
- since you can't guarantee the availability of the fonts you want to use on your webpages (even a web font could fail for some reason),
    you can supply a "font stack" so that the browser has multiple fonts it can choose from;
    this involves a font-family value consisting of multiple font names separated by commas, e.g.
p {
  font-family: "Trebuchet MS", Verdana, sans-serif;
}
    in such a case, the browser starts at the beginning of the list and looks to see if that font is available on the machine;
    if it is, it applies that font to the selected elements; if not, it moves on to the next font, and so on;
- font names that have more than one word — like Trebuchet MS — need to be surrounded by quotes, for example "Trebuchet MS";

FONT WEIGHT
- zapisuje se casto pomoci key words, ale ty jen reprezentuji ciselnou hodnotu, ktera je od 100 do 900, kde 400 = normal,
    700 = bold;

FONT SIZE
- the most common units you'll use to size text are: px, em, rem;
- the font-size of an element is inherited from that element's parent element;
- this all starts with the root element of the entire document — <html> — the font-size of which is set to 16px as standard across browsers;
- other elements may have different default sizes, for example an <h1> element has a size of 2 em set by default,
    so it will have a final size of 32 px;
- things become more tricky when you start altering the font size of nested elements:

<!-- document base font-size is 16px -->
<article> <!-- If my font-size is 1.5em -->
  <p>My paragraph</p> <!-- How do I compute to 20px font-size? -->
</article>

    you would need to set <p> em value to 20/24, or 0.83333333 em...;
    it is best to use rem where you can, to keep things simple, and avoid setting the font-size of container elements where possible;
- when sizing your text, it is usually a good idea to set the base font-size of the document to 10 px, so that
    then the maths is a lot easier to work out — required (r)em values are then the pixel font size divided by 10, not 16;
- a good idea is to list all font-size rulesets in a designated area in the stylesheet, so they are easy to find;

FONT STYLE
- CSS provides four common properties to alter the visual weight/emphasis of text:
    font-style (turns italic text on and off);
    font-weight;
    text-transform (sets your font to be transformed, e.g. uppercase value);
    text-decoration (sets/unsets text decorations on fonts, mainly use this to unset the default underline on links
        when styling them); is a shorthand property for text-decoration-line, text-decoration-style, and text-decoration-color;

TEXT DROP SHADOWS
text-shadow:
    horizontal offset (required value);
    vertical offset (required value);
    blur radius (optional, default value = 0);
    base color of the shadow (optional, default value = currentColor = color is taken from the element’s color property);
- can apply multiple shadows to the same text;

TEXT LAYOUT
- text-align (alignment); je to logicke, ale touto propertou se da ovlivnit pouze inline element, ne block element,
    ptze se vztahuje k textu, ktery je obsahem elementu; kdyz chci ovlivnit zarovnani celeho block elementu, musim
    vyuzit praci s "marginem";
- line-height: (priklady - je jiz nastaveno pro <p> a <li> vyse v souboru;
    - also take a unitless value, which acts as a multiplier and is generally considered the best option;
    - the recommended line height is around 1.5 – 2 (double spaced);
- letter-spacing;
- word-spacing;
- and many others, most used listed at: https://developer.mozilla.org/en-US/docs/Learn/CSS/Styling_text/Fundamentals

FONT SHORTHAND
- the shorthand property "font" are written in the following order:  font-style, font-variant, font-weight,
    font-stretch, font-size, line-height, and font-family;
- only font-size and font-family are required when using the font shorthand property;
- forward slash has to be put in between the font-size and line-height properties;
example:
    font: italic normal bold normal 3em/1.5 Helvetica, Arial, sans-serif;
*/
.bold {
    font-weight: bold;
    word-spacing: 4px;
}

.decoration {
    text-decoration: line-through crimson wavy
}

.text-layout {
    font-style: normal;
    line-height: 1.6;
    text-indent: 10px;

}

.text-style h3 {
    letter-spacing: 4px;
    text-align: center;
    text-shadow: 4px 4px 5px crimson;
    text-transform: uppercase;
}
/* ************************************** */


/*
|| LISTS STYLING - PAGE ADVANCED and HOME
- when styling lists, you need to adjust their styles so they keep the same vertical spacing as their surrounding elements
    (such as paragraphs and images; sometimes called vertical rhythm), and the same horizontal spacing as each other;
    - obecna pravidla pro <li> nastavena v sekci GENERAL;

- list-style-type: sets the type of bullets to use for the list;
- list-style-position: sets whether the bullets appear inside the list items, or outside them before the start of each item,
    the default value is outside;
- list-style-image: allows to use a custom image for the bullet;
    - this property is a bit limited in terms of controlling the position, size, etc. of the bullets;
    - you are better off using the background family of properties;

LIST-STYLE SHORTHAND
- the values can be listed in any order, and you can use one, two or all three
    (the default values used for the properties that are not included are: disc none outside);
- if both a type and an image are specified, the type is used as a fallback if the image can't be loaded
ul {
  list-style: square url(example.png) inside;
}

*/
ul.unordered-list-square {
    list-style-type: square;
}
ol.ordered-list-roman {
    list-style-type: upper-alpha;
}

/* list-style-image nahrazen pouzitim background property */
ul.bullets-image {
    list-style-type: none;
    padding-left: 2rem;

}
ul.bullets-image li {
    background-image: url(../img/black-star.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 1.5rem 1.5rem;
    padding-left: 2rem;
}


/* Description list styles */
dd, dt {
    line-height: 2;
}

dt {
    color: crimson;
    font-weight: bold;
}
/* ************************************** */


/*
|| LINKS STYLING - PAGE HOME
- using pseudo-classes:
    :link
    :visited
    :hover
    :focus
    :active
- the default styles:
    - links are underlined;
    - unvisited links are blue;
    - visited links are purple;
    - hovering a link makes the mouse pointer change to a little hand icon;
        - property "cursor": for the mouse pointer style — you shouldn't turn this off unless you've got a very good reason;
    - focused links have an outline around them;
        - property "outline";
    - active links are red;
- you should not stray too far from the expected behavior of the default styles links;
    - should at least:
        - use underlining for links, but not for other things. If you don't want to underline links, at least
        highlight them in some other way;
        - make them react in some way when hovered/focused, and in a slightly different way when activated;
- rulesets order is important because the link styles build on one another;
    - if you put these in the wrong order, and you're changing the same properties in each ruleset,
    things won't work as you expect. To remember the order, you could try using a mnemonic like "LoVe Fears HAte";
- pokud chceme nastavit jine podtrzeni odkazu, nekteri preferuji vyuziti property "border-bottom" namisto "text-decoration":
    - is drawn a bit lower, so doesn't cut across the descenders of the word being underlined (e.g. the tails on g and y);
    - value has been set as 1px solid, with no color specified - doing this makes the border adopt the same color
    as the element's text, which is useful in cases like this where the text is a different color in each case;
*/

/*a[href] {*/
/*    color: chocolate;*/
/*}*/

a {
    border-bottom: 2px solid;
    outline: none;
    padding: 2px 1px 0;
    text-decoration: none;
}

/* nastaveni ikony k externimu odkazu */
a[href*="http"] {
    background: url(../img/external-link-512.png) no-repeat 100% 0; /* specify the position as 100% of the way
    over to the right of the text content, and 0 pixels from the top */
    background-size: 20px 20px;
    padding-right: 21px;
}

a:link {
    color: chocolate;
}

a:visited {
    color: lightcoral;
}

a:focus {
    background: lightseagreen;
}

a:hover {
    color: crimson;
    border-bottom: none;
}

a:active {
    background: crimson;
    color: lightseagreen;
}


/* || NAVIGATION BAR */
ul.nav-menu {
    list-style: none;
}

.nav-menu li {
    background-color: lightseagreen;
    display: inline-block;
    padding: 0 12px;
}
.nav-menu a {
    border-bottom: none;
}

.nav-menu a:hover {
    background-color: bisque;
    color: crimson;
}

/* ************************************** */


@media (max-width: 30em) {
    body {
        background-color: white;
    }
}
